* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-section {
  width: 100%;
  height: 92px;
  background-color: #1a0b2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
  border-bottom: 1px solid #412567;
}

.nav-section .hamburger-menu {
  display: none;
}

.nav-links > a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 32px;
  font-weight: 500;
  transition: transform 0.3s ease;
}

a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  background: currentColor;
  transition: width 0.3s ease;
  height: 2px;
  width: 0;
  left: 0;
}

a:hover::after {
  width: 100%;
}
.nav-links a:hover {
  color: #eb712b;
  transition: 0.3s ease;
}

.subscribe-button-1 {
  height: 44px;
  width: 135px;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s;
}

.subscribe-button-1::before {
  content: "";
  background: rgba(0, 0, 0, 0.384);
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  inset: 0;
}

.subscribe-button-1:hover::before {
  transform: translateX(0);
}

.subscribe-button-1:hover {
  transition: transform 0.4s ease;
  transform: translateX(4px);
}

.subscribe-button-1:active {
  transform: translateY(-1px) scale(0.93);
}

.banner-section {
  width: 100%;
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px;
}
.banner-section .banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.banner-content .podcast-bg {
  background-image: url("./assets/hero-circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.banner-content .podcast-bg img {
  margin: 90px 152px;
}

.banner-content .podcast-bg h3 {
  height: 38px;
  width: 75px;
  background: #00ff88;
  border-radius: 10000px;
  text-align: center;
  padding: 5px;
  position: relative;
  top: 30px;
  left: 310px;
}

.TechWave-info {
  height: auto;
  width: 650px;
}

.TechWave-info-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.TechWave-info h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
}

.TechWave-info p {
  color: #ffffffc7;
  text-align: center;
  text-justify: distribute;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  gap: 8px;
}

.spotify-button {
  height: 44px;
  width: 201px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  border-radius: 100px;
  background-size: 200%;
  transition:
    background-position 0.4s ease,
    transform 0.4s ease;
}

.spotify-button:hover {
  background-position: right;
  transform: translateX(-4px);
}

.spotify-button:active {
  transform: translateY(-1px) scale(0.95);
}

.subscribe-button-2 {
  height: 44px;
  width: 147px;
  padding: 12px 16px;
  border-radius: 10000px;
  border: 1px solid #00ff88;
  color: #00ff88;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: medium;
  background: transparent;
  cursor: pointer;
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.subscribe-button-2:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 255, 136, 0.4);
}

.subscribe-button-2:active {
  transform: translateY(-1px) scale(0.97);
}

.about-section {
  padding: 0px 200px 120px 200px;
  background: #1a0b2e;
}

.about-heading h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
}

.about-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.about-text {
  color: #ffffffa1;
  max-width: 50%;
  text-align: center;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-section-line {
  border-bottom: 0.5px solid #ffffff1a;
  padding-top: 80px;
}

.about-works {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.about-works h1 {
  color: #00ff88;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.about-works p {
  color: #ffffffc4;
}

.why-choose-section {
  background: #230e3d;
  padding: 120px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.why-choose-section h1 {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}

.choose-list {
  display: grid;
  gap: 30px;
}

.choose-list-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.choose-list-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  gap: 16px;
  background: #35116550;
  border-radius: 40px;
  color: #ffffff;
  transition:
    box-shadow 0.4s ease,
    transform 0.4s ease;
}

.box:hover {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.box h3 {
  font-size: 24px;
}

.box p {
  color: #ffffff7c;
}

.wide-box {
  grid-column: span 1;
  grid-row: span 2;
}

.long-box {
  grid-column: span 2;
  grid-row: span 1;
}

.normal-box {
  grid-column: span 1;
  grid-row: span 1;
}

.feature-section {
  background: #1a0b2e;
  padding: 120px 200px;
  display: grid;
  gap: 40px;
}

.feature-section h1 {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.featured-episodes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.feature-section .features {
  background: #35116550;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.feature-section .features:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.feature-section .features .feature-info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feature-section .features .feature-info h3 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.feature-section .features .feature-info p {
  color: #ffffff83;
}

.feature-section .features .feature-info span {
  display: flex;
  align-items: center;
  color: #00ff88;
  gap: 10px;
}

.host-info {
  display: flex;
  align-items: center;
  background: #35116550;
  padding: 40px;
  gap: 24px;
  border-radius: 40px;
}

.host-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.host-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.host-description h3 {
  font-size: 32px;
  color: #ffffff;
}

.host-description p {
  color: #ffffff86;
}

.contact-links a {
  border: 1px solid #533c72;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #35116500;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.contact-links a:hover {
  box-shadow: 0 0 10px rgba(127, 102, 181, 0.5);
  transform: scale(1.09);
  text-decoration: none;
}

.contact-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-section {
  background-image: url("./assets/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.footer-img {
  height: 50px;
  width: 350px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  transition: transform 0.3s ease;
}

.footer-links a {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #ffffffa5;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.footer-links a::after {
  position: absolute;
  content: "";
  left: 0;
  height: 1.5px;
  bottom: -4px;
  transition: width 0.4s ease;
  width: 0;
  background: currentColor;
}

.footer-links a:hover {
  color: #ffffff;
}

.footer-links a:hover::after {
  width: 100%;
}

.footer-contact p {
  color: #ffffffb1;
  text-align: center;
}

.hide {
  display: none !important;
}

/* tab view  */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-section {
    padding: 16px 40px;
  }

  .banner-section {
    padding: 0px;
  }

  .banner-content .podcast-bg {
    position: relative;
    top: 40px;
    height: 214px;
  }

  .banner-content .podcast-bg img {
    margin: 0px 91px;
    position: relative;
    top: 30px;
    height: 90px;
  }

  .banner-content .podcast-bg h3 {
    height: 34px;
    width: 63px;
    top: 20px;
    left: 165px;
    padding: 7px;
    font-size: 15px;
  }

  .TechWave-info h1 {
    font-size: 50px;
  }

  .about-section {
    padding: 40px 40px;
  }

  .about-text {
    max-width: 100%;
    line-height: 25px;
    gap: 30px;
  }

  .about-heading h1,
  .why-choose-section h1,
  .feature-section h1 {
    font-size: 45px;
  }

  .about-section-line {
    padding-top: 60px;
  }

  .about-works {
    width: 100%;
    padding-top: 60px;
    justify-content: space-between;
    gap: 20px;
  }

  .why-choose-section {
    padding: 40px 40px;
  }

  .feature-section {
    padding: 40px 40px;
  }

  .featured-episodes {
    gap: 20px;
  }
}

/* mobile view */

@media screen and (max-width: 576px) {
  .nav-section .nav-links,
  .subscribe-button-1 {
    display: none;
  }
  .nav-section .hamburger-menu {
    display: block;
    padding: 20px;
  }
  .nav-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .banner-section {
    padding: 0px;
  }

  .banner-content .podcast-bg {
    height: 200px;
    width: 200px;
    top: 36px;
    background-position: center;
    position: relative;
  }
  .banner-content .podcast-bg img {
    height: 80px;
    width: auto;
    margin: 0 auto;
    position: relative;
    left: 74px;
    top: 27px;
  }

  .banner-content .podcast-bg h3 {
    position: relative;
    top: 20px;
    left: 153px;
    height: 31px;
    width: 60px;
    font-size: 15px;
  }

  .TechWave-info {
    width: auto;
  }
  .TechWave-info h1 {
    font-size: 40px;
  }

  .TechWave-info .TechWave-info-text p {
    text-align: center;
  }

  .about-section {
    padding: 40px 20px;
  }

  .about-text {
    max-width: 100%;
    line-height: 20px;
    gap: 20px;
  }
  .about-section h1 {
    font-size: 32px;
  }

  .about-section-line {
    padding-top: 40px;
  }
  .about-works {
    padding-top: 40px;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .why-choose-section {
    padding: 40px 20px;
    gap: 16px;
  }

  .why-choose-section h1 {
    font-size: 32px;
    text-align: center;
  }

  .choose-list {
    gap: 16px;
  }

  .choose-list-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .choose-list-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .feature-section {
    padding: 40px 20px;
    gap: 24px;
  }

  .feature-section h1 {
    font-size: 32px;
  }

  .featured-episodes {
    display: flex;
    flex-direction: column;
  }

  .feature-section .features {
    width: 100%;
  }

  .feature-section .features .feature-info h3 {
    font-size: 20px;
  }

  .feature-section .host-section {
    gap: 24px;
    width: 100%;
  }

  .feature-section .host-info {
    flex-direction: column;
    padding: 24px;
  }

  .host-description {
    text-align: center;
  }

  .host-description h3 {
    font-size: 24px;
  }

  .contact-links {
    justify-content: center;
  }

  .footer-section {
    padding: 40px 20px;
    background-size: cover;
  }

  .footer-img {
    height: 30px;
  }
  .footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
